.pds-dropdown-trigger {
  --_wash-lighter: color-mix(in srgb, var(--color-primary) calc(100% - 32%), #fff); 
  --_wash-darker: color-mix(in srgb, var(--color-primary) calc(100% - 32%), #000);   
  position: relative;
  display: inline-flex;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--color-gray-soft);   
  color: var(--color-black-soft);            
  font-family: var(--pds-font-sans);
  font-weight: 300;
  font-size: var(--type-body2-size);
  line-height: var(--type-body2-lh);
  padding: var(--dim-sss) calc(var(--dim-s) + var(--dim-mmmm)) var(--dim-sss) var(--dim-s); 
  border: none;
  border-radius: 0;                           
  cursor: pointer;
  text-align: left;
}
.pds-dropdown-trigger:hover:not(:disabled),
.pds-dropdown-trigger:focus-visible:not(:disabled):not([data-error]),
.pds-dropdown-trigger:active:not(:disabled) {
  background-color: var(--_wash-lighter);     
}
.pds-dropdown-trigger:focus-visible:not(:disabled),
.pds-dropdown-trigger:active:not(:disabled) {
  background-color: var(--_wash-darker);      
}
.pds-dropdown-trigger:disabled,
.pds-dropdown-trigger[data-disabled] {
  background-color: var(--color-black-soft);  
  color: var(--color-gray);                  
  opacity: var(--opacity-disabled);          
  cursor: not-allowed;
}
.pds-dropdown-trigger[data-error] {
  background-color: var(--color-destructive); 
  color: var(--color-gray-soft);             
}
.pds-dropdown-trigger__icon {
  position: absolute;
  right: var(--dim-s);
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  display: inline-flex;
  align-items: center;
}

.pds-dropdown-content,
.pds-dropdown-sub-content {
  background-color: var(--color-popover);
  color: var(--color-popover-foreground);
  border-radius: 0;                           
  box-shadow: var(--shadow-dropDown);        
}

.pds-dropdown-item {
  font-family: var(--pds-font-sans);
  font-weight: 300;
  font-size: var(--type-body2-size);         
  line-height: var(--type-body2-lh);
  color: var(--color-popover-foreground);
}
.pds-dropdown-item:hover:not([data-disabled]),
.pds-dropdown-item:focus-visible {
  background-color: color-mix(in srgb, var(--color-popover-foreground) 8%, transparent);
}
.pds-dropdown-item[data-selected="true"] {
  box-shadow: inset 2px 0 0 var(--color-accent); 
  background-color: color-mix(in srgb, var(--color-popover-foreground) 10%, transparent);
}
.pds-dropdown-item[data-disabled] {
  opacity: var(--opacity-disabled);
  cursor: not-allowed;
}

.pds-dropdown-label {
  font-family: var(--pds-font-sans);
  font-weight: 400;
  font-size: var(--type-body2-size);
  color: var(--color-muted-foreground);
}
.pds-dropdown-separator {
  background-color: var(--color-border);
}
